<title> Account Details</title>
<h1> Name: Hafsa Dar</h1>
<h2> Bank: HBL Konnect </h2>
<p> Account Number: 23107000490103 </p>

<p>Image Upload</p>
<form method="post" action="/api/account" enctype="multipart/form-data">
    <input type="file" name="image" /><br /><br />
    <button type="submit" name="account">Upload</button>
  </form>
  
    