
<h1>
    Fund Donation Form
</h1>
<div class="create-donation content"></div>
<form action="/api/donations" method="POST">
    
    <select class="category" name="category">
    <option name="" value="0" selected>Select category</option>
              <option name="category1" value="1">Janaza Fund</option>
              <option name="category2" value="2">White Collar</option>
    </select>

    <label for="name">Name</label>
    <input type="text" placeholder="name" id="xyz" name="name">
    <label for="cnic">CNIC No</label>
    <input type="number" id="xyz" name="cnic">
    <label for="phone">Phone No</label>
    <input type="number" placeholder="phone" id="xyz" name="phone">
    <label for="email">Email</label>
    <input type="text" placeholder="email" id="xyz" name="email">
    <button>Next</button>
</form>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/SignUp">Sign Up</a></li>
</ul>
