<h1>
    Admin Dashboard
</h1>
<nav>
    <ul>
        <li><a href = "/api/donations/">All Donations</a></li>
        <li><a href = "/api/requests/janazaRequests"> All Janaza Requests</a></li>
        <li><a href = "/api/requests/whiteCollarRequests"> All White Collar Requests</a></li>
        <li><a href = "/api/markets/getMarket">New Market</a></li>
        <li><a href = "/api/markets"> All Markets Requests</a></li>
    </ul>
    </nav>

