<h1> Home Page</h1>

<nav>
<p><ul>
  <li><a href="https://fyp-2022.herokuapp.com/api/auth/register">Sign Up</a></li>
  <li><a href="https://fyp-2022.herokuapp.com/api/auth/login">Login</a></li>
</ul></p>
</nav>