<h1>
    Login Page
</h1>

<nav>
    <ul>
        <li><a href="https://fyp-2022.herokuapp.com/api/auth/register">Go back</a></li>
        <li><a href="/api/adminDashboard"">Admin Dashboard</a></li>
    </ul>
</nav>

<form action="https://fyp-2022.herokuapp.com/api/auth/login" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="username" id="xyz" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button>Login</button>
</form>
