<h1>
    Market Search Form
</h1>

<div class="market search content"></div>

<form action="https://fyp-2022.herokuapp.com/api/markets" method="POST">

    <select class="type" name="type">
        <option name="" value="0" selected>Select category</option>
                  <option name="type1" value="1">Catering Service</option>
                  <option name="type2" value="2">Graveryard</option>
                  <option name="type3" value="3">Coffin market</option>
        </select>

<button>Search</button>

</form>

</div>

<ul>
    <li><a href="https://fyp-2022.herokuapp.com/">Home</a></li>
    <li><a href="https://fyp-2022.herokuapp.com/api/auth/register">Sign Up</a></li>
</ul>
