<h1>
    Market Search Form
</h1>

<div class="market search content"></div>

<form action="https://fyp-2022.herokuapp.com/api/markets" method="POST">

<button>Search</button>

</form>

</div>

<ul>
    <li><a href="https://fyp-2022.herokuapp.com/">Home</a></li>
    <li><a href="https://fyp-2022.herokuapp.com/api/auth/register">Sign Up</a></li>
</ul>
