<h1>
    Sign Up Page
</h1>
<form action="/api/register" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button>Submit</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/login">Login</a></li>
</ul>