
<nav>
<div>
    <h1>
        User Profile
    </h1>
    <p>
        After Login the user will reach here.
    </p>
</div>

<ul>
    <li><a href = "/donations">Donations</a></li>
    <li><a href = "/donations/create">New Donation</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

</nav>