<h1>
    User Profile
</h1>
<nav>
    <ul>
        <li><a href = "/api/donations/getDonation">New Donation</a></li>
        <li><a href = "/api/donations/">All Donations</a></li>
        <li><a href = "/api/requests/getJanazaRequest">New Janaza Request</a></li>
        <li><a href = "/api/requests/janazaRequests"> All Janaza Requests</a></li>
        <li><a href = "/api/requests/getWhiteCollarRequest">New White Collar Request</a></li>
        <li><a href = "/api/requests/whiteCollarRequests"> All White Collar Requests</a></li>
        <li><a href = "/api/markets/getMarket">New Janaza Request</a></li>
        <li><a href = "/api//markets"> All Janaza Requests</a></li>

    </ul>
    </nav>
    
<div>    
    <p>
        After Login the user will reach here.
    </p>
</div>

