<nav>
    <ul>
        <li><a href = "/api/donations/getDonation">New Donation</a></li>
        <li><a href = "/api/donations/">All Donations</a></li>
        <li><a href = "/api/requests/janazaRequests">New Donation</a></li>

    </ul>
    </nav>
    
<div>
    <h1>
        User Profile
    </h1>
    
    <p>
        After Login the user will reach here.
    </p>
</div>

