
<h1>
    Update White Collar Status
</h1>

<nav>
<ul>
    <li><a href="https://fyp-2022.herokuapp.com/">Home</a></li>
    <li><a href="https://fyp-2022.herokuapp.com/api/auth/register">Sign Up</a></li>
</ul>
</nav>

<div class="update-white-collar"></div>

<form action="/api/whiteCollarRequests/:id" method="POST">
    

    <label for="status">Status</label>
    <input type="text" placeholder="status" id="xyz" name="status">
    
    <button>Update</button>
</form>
</div>

